@media(max-width:1100px) {
    .container {
        width: 950px;
    }
}

@media(max-width:1024px) {
    .container {
        width: 850px
    }

    .sobre-web figcaption img {
        width: 600px;
    }
}

@media(max-width:915px) {
    body {
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #b1f4ff;
    }

    header nav {
        margin: 30px auto;
    }

    header section nav ul.row {
        flex-direction: row;
    }

    .sobre-web article {
        width: 100%;
    }

    .container {
        width: 600px;
    }

    .row {
        flex-direction: column;
    }

    footer ul {
        justify-content: center;
    }

    footer .row {
        flex-direction: row;
    }
}

@media(max-width:745px) {
    .container {
        width: 400px;
    }

    header section nav ul.row {
        flex-direction: column;
    }

    header section nav {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4)
    }

    header section nav ul li {
        margin: 10px auto;
    }

    .sobre-web figcaption img {
        width: 400px;
    }
}

@media(max-width:450px) {
    .container {
        width: 300px;
    }
}