header {
  section {
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      li {
        a {
          margin: 20px;
          color: $color-primay;
        }
      }
    }
  }
}