.sobre-web {
  align-items: center;
  justify-content: space-between;

  figure {
    img {
      width: 700px;
    }
  }

  article {
    width: 300px;

    h1 {
      font-size: $font-h1;
      line-height: 90%;
      color: $color-secondary;
    }

    h2 {
      font-size: $font-h2;
      text-transform: uppercase;
      line-height: 200%;
      letter-spacing: 3px;
    }

    p {
      margin: 10px 0 30px 0;
    }

    h2,
    p {
      color: $color-primay;
    }
  }
}