@media(max-width:1100px) {
    .container {
        width: 950px;
    }
}

@media(max-width:1024px) {
    .container {
        width: 850px
    }

    .sobre-web {
        figure {
            img {
                width: 600px;
            }
        }
    }
}

@media(max-width:915px) {
    body {
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $color-quaternary;
    }

    header {
        section {
            nav {
                margin: 15px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

                ul {
                    .row {
                        flex-direction: column;
                    }

                    li {
                        margin: 10px auto;
                    }
                }

            }
        }
    }


    .sobre-web {
        article {
            width: 100%;
        }
    }

    .container {
        width: 600px;
    }

    .row {
        flex-direction: column;
    }

    footer {
        ul {
            justify-content: center;
        }

        .row {
            flex-direction: row;
        }
    }
}

@media(max-width:745px) {
    .container {
        width: 400px;
    }

    .sobre-web {
        figure {
            img {
                width: 400px;
            }
        }
    }
}

@media(max-width:450px) {
    .container {
        width: 300px;
    }
}