/* Componentes */
@import "./variables.scss";
@import "./bootstrap.scss";
@import "./header.scss";
@import "./buttons.scss";
@import "./main.scss";
@import "./footer.scss";
@import "./responsive-background.scss";
@import "./responsive-elements.scss";