// Cores
$color-primay: #3399CC;
$color-secondary: #333366;
$color-terceary:#FF6633;
$color-quaternary:#B1F4FF;
$color-white:#fff;

// Fontes
$font-h1:70px;
$font-h2:27px;

//footer imgs
$footer-links:30px;